#wrapper {
	position: relative;
	font: 100%/100% Verdana, Tahoma, sans-serif;
	width: 1400px;
	margin: 10px auto;
	text-align: center;
}

#image-picker-wrapper, #puzzle-board-wrapper {
	position: relative;
	float: left;
	height: 600px;
	padding: 1px;
	overflow: hidden;
}

#image-picker-wrapper {
	background-color: #ccc;
	width: 294px;
/*	border: solid 2px blue; */
}

#puzzle-board-wrapper {
	position: relative;
	background-color: #dcb;
	width: 1094px;
/*	border: solid 2px red; */
	overflow: hidden;
}

#board-canvas {
	position: relative;
	background-color: black;
	color: white;
	width: 420px;
	height: 420px;
	padding: 0;
	margin: 4em auto 0 auto;
/*	border: 1px solid green;
	overflow: hidden; */
}

#image-selected {
	position: absolute;
	top: 0;
	left: 0;
	width: 420px;
	height: 420px;
	padding: 0;
	margin: 0;
}

h1 {
	background-color: #ffa;
	font-weight: bold;
	color: purple;
	padding: 1em;
	margin: 0 auto;
/*	border: solid 2px purple; */
}

h2 {
	font-weight: bold;
	padding: .5em;
	color: maroon;
	margin: 0;
/*	border: solid 1px black; */
}

#message {
	position: absolute;
	top: 55px;
	width: 100%;
}

#search-error {
	color: red;
}

.image-result {
	float:left;
	width: 145px;
	height: 145px;
	margin: 1px;
}

#image-search-pages {
	position: absolute;
	font: 100%/100% 'System' monospace;
	color: purple;
	bottom: 10px;
	width: 100%;
	padding-bottom: 2em;
}

.unselected-page-number:hover {
	cursor: pointer;
	border-bottom: solid 1px black;
}

.selected-page-number {
	color: blue;
	font-weight: bold;
}

.tile {
	background-image: inherit;
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: top left;
	background-size: 420px 420px;
	-webkit-background-size: 420px 420px;
	position: absolute;
	border: solid 1px blue;
	overflow: hidden;
}

.grid {
	float: left;
/*	border: solid 1px green; */
}


/*-------------------------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------------------------*/
input[type=button] {
  background-color: #7f4dbf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f4dbf), color-stop(100%, #632fa6));
  background-image: -webkit-linear-gradient(top, #7f4dbf, #632fa6);
  background-image: -moz-linear-gradient(top, #7f4dbf, #632fa6);
  background-image: -ms-linear-gradient(top, #7f4dbf, #632fa6);
  background-image: -o-linear-gradient(top, #7f4dbf, #632fa6);
  background-image: linear-gradient(top, #7f4dbf, #632fa6);
  border: 1px solid #632fa6;
  border-bottom: 1px solid #5b2b99;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #966dca;
  box-shadow: inset 0 1px 0 0 #966dca;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 6px 0 6px 0;
  position:relative;
  top:-1px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c2190;
  width: 100px;
}

input[type=button]:hover {
    background-color: #7647b3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7647b3), color-stop(100%, #5e2e9e));
    background-image: -webkit-linear-gradient(top, #7647b3, #5e2e9e);
    background-image: -moz-linear-gradient(top, #7647b3, #5e2e9e);
    background-image: -ms-linear-gradient(top, #7647b3, #5e2e9e);
    background-image: -o-linear-gradient(top, #7647b3, #5e2e9e);
    background-image: linear-gradient(top, #7647b3, #5e2e9e);
    -webkit-box-shadow: inset 0 1px 0 0 #8d67bf;
    box-shadow: inset 0 1px 0 0 #8d67bf;
    cursor: pointer; 
}

input[type=button]:active {
    border: 1px solid #5b2b99;
    border-bottom: 1px solid #53278c;
    -webkit-box-shadow: inset 0 0 8px 4px #54298c, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #54298c, 0 1px 0 0 #eeeeee; 
}


#start-button, #quit-button, #reset-button {
	float: bottom;
	margin: 1em;
}

